/* class structure:

block-encrypt-container
  login-container
    error-text
    password-hint
    password-input
      div
      input
    decrypt-button

  main-text-area
  save-button
    svg

block-generator-container
  password-input
    div
    input
  password-input
    div
    input
  hint-input
    div
    input
  error-text
  generate-button

  read-mode-title
  read-mode-div
  
*/

.debug-tag-corner {
  position: absolute;
  top: 0px;
  right: 0px;
  /*display: none;*/
}

/* Encrypt Block Main */
.block-encrypt-container {
  border: var(--border-width) solid var(--background-secondary-alt);
  border-radius: var(--radius-s);
  padding: var(--size-4-1);
  position: relative;
}

.block-encrypt-container button.save-button {
  position: absolute;
  bottom: var(--size-4-1);
  right: var(--size-4-1);
  width: 30px;
  height: 30px;
  padding: 0px;
  background-color: var(--interactive-normal);
}

.block-encrypt-container button.save-button.unsaved-changes {
  color: var(--color-red);
}

.block-encrypt-container button.save-button:hover {
  background-color: var(--interactive-accent);
  color: var(--text-normal);
}

.block-encrypt-container textarea {
  resize: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  overflow: hidden;
  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: var(--font-text-size);
}

.block-encrypt-container textarea:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.block-encrypt-container .login-container {
  padding: 0px;
  margin: 0px;
}

/* Login Block Main */
.block-encrypt-container .login-container .error-text {
  color: var(--text-error);
  margin: var(--size-4-1) var(--size-4-1);
}

.block-encrypt-container .login-container .password-hint {
  background-color: var(--background-primary-alt);
  border-radius: var(--radius-s);
  padding: var(--size-4-1) var(--size-4-1);
}

.block-encrypt-container .login-container .password-input {
  margin: 0px var(--size-4-1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-4-1) var(--size-4-2);
}

.block-encrypt-container .login-container .password-input input {
  margin: var(--size-4-1) 0px;
  height: calc(var(--font-text-size) * 1.9);
}

.block-encrypt-container .login-container .password-input div {
  width: calc(var(--font-text-size) * 10);
}

.block-encrypt-container .login-container .decrypt-button {
  margin: var(--size-4-1) var(--size-4-1);
  font-size: var(--font-text-size);
  height: calc(var(--font-text-size) * 1.7);
  width: calc(var(--font-text-size) * 5.5);
}

.block-encrypt-container .invisible-workaround-text {
  visibility: hidden;
  position: absolute;
  font-size: var(--font-text-size);
}


/* Generator Block */
.block-generator-container .read-mode-title {
  font-size: var(--h4-size);
  width: 100%;
  text-align: center;
}

.block-generator-container .read-mode-div {
  width: 100%;
  text-align: center;
}

.block-generator-container {
  border: var(--border-width) solid var(--background-secondary-alt);
  border-radius: var(--radius-s);
  padding: var(--size-4-1);
}

.block-generator-container .password-input {
  margin: var(--size-4-1) var(--size-4-1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-4-1) var(--size-4-2);
}

.block-generator-container .password-input div {
  width: calc(var(--font-text-size) * 10);
}

.block-generator-container .password-input input {
  height: calc(var(--font-text-size) * 1.9);
}

.block-generator-container .hint-input {
  margin: var(--size-4-1) var(--size-4-1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-4-1) var(--size-4-2);
}

.block-generator-container .hint-input div {
  width: calc(var(--font-text-size) * 10);
}

.block-generator-container .hint-input input {
  height: calc(var(--font-text-size) * 1.9);
}

.block-generator-container .error-text {
  margin: var(--size-4-1) var(--size-4-1);
  color: var(--text-error);
}

.block-generator-container .generate-button {
  margin: var(--size-4-1) var(--size-4-1);
  background-color: var(--interactive-normal);
  font-size: var(--font-text-size);
  height: calc(var(--font-text-size) * 1.7);
  width: calc(var(--font-text-size) * 6);
}


/* Disable "Edit Block" Button */
.markdown-source-view.mod-cm6 div.block-language-encrypt ~ div.edit-block-button,
.markdown-source-view.mod-cm6 div.block-language-encryptgenerator ~ div.edit-block-button {
  display: none;
}


/* MOBILE */
.is-mobile .block-generator-container .hint-input input {
  width: auto;
  margin: 0px;
  padding: var(--size-4-1) var(--size-4-2);
}